/* Common style */
*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #080808;
    font-size: 18px;
}

a {
    color: #080808;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

button {
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;

    border: 1px solid transparent;
    border-radius: 1em;
    background-color: #080808;

    padding: 0.7rem 2.1rem;

    transition: .3s;
}

button + button {
    margin-top: 10px;
}

button:hover {
    color: #080808;
    background-color: #fff;
    border: 1px solid #080808;
}

.container {
    width: 1160px;
    margin: 0 auto;
    text-align: center;
}

.active {
    display: block;
}