.cards__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    text-align: left;
}

.cards__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: #FAFAFA;
    background-color: rgba(0 0 0 / .7);
    border-radius: 1em;

    width: 25vw;
    min-height: 250px;
    max-height: 350px;

    padding: 20px 10px;
    margin: 10px;
}

.cards__item-doctor {
    font-size: 24px;
    font-weight: 700;

    margin-bottom: 15px;
}

.cards__item-visitor-name {
    font-size: 20px;
    margin-bottom: 25px;
}


/* Buttons */
.cardOpenShowMoreBtn {
    display: none;
}


.cardsCloseShowMoreBtn {
    display: none;
}

.cardEditBtn {
    display: none;
}

.cardDeliteBtn {
    display: none;
}

.active {
    display: block;
}