/* Forms */
/* .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 87vh;
} */

.form__wrapper {
    display: flex;
    flex-direction: column;

    width: 50%;

    margin: 0 auto;
}

.form__input-wrapper {
    margin-top: 30px;
}
/* wrapper.form__create-visit-wrapper */
.form {
    display: none;
    position: absolute;
    top: 13vh;
    left: 0;

    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #fff;

    width: 100%;

    padding-bottom: 30px;

}
input {
    display: block;
    width: 450px;

    font-size: 18px;

    border-radius: 1em;
    border: 2px solid #080808;

    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
}

input:focus {
    border: 2px solid #3f51b5;
}

.form__input-create-visit {
    display: none;
}

.form__input-create-visit.active {
    display: block;
}

#logIntoAccountBtn {
    display: none;
}

#createVisit {
    display: none;
}

#logIntoAccountBtn.active {
    display: block;
}

#createVisit.active {
    display: block;
}

.form__select-title {
    display: inline-block;

    font-size: 22px;
    font-weight: 600;

    margin-right: 30px;
}

select {
    font-size: 18px;

    border-radius: 1em;

    padding: .8em 1em;
}

.form__textareaid-wrapper {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

textarea {
    font-size: 18px;

    width: 400px;
    min-height: 150px;
    height: 225px;
    max-height: 300px;
    resize: vertical;

    padding: 1em;
    margin-left: 2em;
}

.form__alert {
    display: none;
    color: rgb(218, 40, 40);
    font-size: 24px;

    margin-top: 15px;
}

.form__alert.active {
    display: block;
}

.active {
    display: flex;
}