/* Header section */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;

    height: 10vh;
}

.nav__logo {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;

    transition: .3s;
}

.nav__logo:hover {
    color: #3f51b5;
}

#CreateVisit {
    display: none;
}